
.bg-image{
    height:517px;
    background-color: #4A5A23;
}

.container{
    height: 500px;
    display: grid;
    justify-content: center;
    padding: 20px 0 0 25px ;
    overflow-y: scroll;
}

.section2{
    background-color: #FFeFee;
    padding:13px;
    border-radius: 10px;
    color: black;
    font-family:Verdana;
    width:95%;
    opacity: 0.8;
    font-size: 18px;

}





/* Default */
.effect{
    animation:PageChange 0.3s;
}
@keyframes PageChange {
    from{
        opacity:0;
        transform:rotateX(-70deg) rotateY(0);
    } 
    to{
        opacity: 1;
        transform: rotateX(0) rotateY(0);
    }
}

a{
    text-decoration: none;
}

*{
    margin:0;

}

/* Header */
header{
    display:flex;  
    height: 100px;
    background-color: #FAF8ED;
    align-items: center;
    justify-content: center;
}
h1{
    color:black;
    text-shadow:0 0 15px green;
}

/* Nav bar */
.nav-bar{
    padding:0;
    background-color: #748E63;
    display: flex;
    align-items:center;
    height: 50px;

}

.nav-a{
    color: whitesmoke;
    padding:0 10px 0 10px;
    transition: ease-in-out 100ms;

}
.nav-a:hover{
    color: aquamarine;
    opacity:0.5;
    transform:scale(1.1);
}
.on{
    color:darkgreen;
}
/* BODY */
body{
    background-color: #748E63;
} 
/* To hide scroll bar in body section */
body::-webkit-scrollbar{
    display: none;
}
